* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(65, 46, 104, 0);
}

tooltip {
    background: rgb(30, 30, 46);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #8989ad;
}

#workspaces button {
    background: rgba(14, 158, 180, 0.24);
    color: #cfdbe4;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}


#workspaces button.empty {
    color: #cfdbe4;
    background: transparent;
}


#workspaces button.visible {
    background: rgba(242, 123, 230, 0.247);
}

#workspaces button.active {
    background: rgba(214, 62, 151, 0.459);
    background: rgba(151, 214, 62, 0.24);
    color: rgb(242, 123, 230);
    background: #0E9FB4;
    color: #cfdbe4;

}

#workspaces button.urgent {
    color: rgba(214, 62, 151, 0.459);
    background: #a6e3a1;
}

#workspaces button:hover {
    color: #cdd6f4;
    background: rgba(151, 214, 62, 0.157);
}


#workspaces button.focused {
    color: #3ed67d;
    background: #eba0ac;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#backlight {
    background: rgba(35, 37, 40, 0.603);
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid rgba(24, 24, 37, 0.171);
    color: #cfdbe4;
}

#backlight
{
    color: #d6c93e;
}

#memory
{
    /*color: #d63e96;*/
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;

}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    /*color: #3ed6c9;*/
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #0eb577;
    color: #0E9FB4;
    color: rgb(214, 62, 151);
    color: rgb(242, 123, 230);
    color: rgb(14, 158, 180);
    margin-right: 5px;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    /*margin-right: 10px;
    border-left: 0px;
    */
}

#custom-weather {
    color: #D6C93E;
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
